{foreach name="news" item="v"}
	<tr style="text-align: center; vertical-align: middle;">
		<td class="hidden-xs center" >{$v.albumnid}</td>
		<td ><a href="{:url('admin/Music/albumn_edit',array('albumnid'=>$v['albumnid']))}" title="{$v.albumncover}"><img src="{$v.albumncover}" style="width: 100px; height: auto;"></a></td>
		<td style="vertical-align: middle;position: relative; " >
			<input type="hidden" value="{$v['artistname']}" name="albumn_ID">
			<button type="button" name="artistname">{$v.artistname|subtext=25}</button>
			<div name="albumn_list" style=" overflow: auto; background-color: #fff; width: 170px; text-align: center;">
			</div>
		</td>
		<td style="vertical-align: middle;position: relative; " >
			<input type="hidden" value="{$v['albumnid']}" name="albumn_ID">
			<button type="button" name="albumnname">{$v.albumnname|subtext=25}</button>
			<div name="music_list" style=" overflow: auto; background-color: #fff; width: 170px; text-align: center;">
			</div>
		</td>
		<!--专辑风格-->
		<td class="hidden-sm hidden-xs" >
			<span style="color:#03C">{$v['albumnstyle']}</span>
		</td>
		<td class="hidden-xs" >{$v.creationdate}</td>
		<td >
			<div class="hidden-sm hidden-xs action-buttons">
				<a class="green" href="{:url('admin/Music/albumn_edit',array('albumnid'=>$v['albumnid'],'p'=>input('p',1)))}" data-toggle="tooltip" title="修改">
					<i class="ace-icon fa fa-pencil bigger-130"></i>
				</a>
				<a class="red confirm-rst-url-btn" data-info="你确定要删除到回收站吗？" href="{:url('admin/Music/albumn_del',array('albumnid'=>$v['albumnid'],'p'=>input('p',1)))}" title="回收站" data-toggle="tooltip">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>
				</a>
			</div>
		</td>
	</tr>
{/foreach}
<tr>
	<td colspan="2" align="left"class="hidden-lg hidden-md hidden-sm">{$page}</td>
	<td colspan="8" align="right" class="hidden-xs">{$page}</td>
</tr>
<script>
	var $j=1
	$('[name="artistname"]').click(function(){
		$j=$j+1
		$artistname=$(this).prev().val();
		var $bb = $(this).next();
		if($j%2==0) {
			$.ajax({ //一个Ajax过程
				type: "post", //以post方式与后台沟通
				url: "{:url('admin/Music/artistalbumn_list')}", //与此php页面沟通
				dataType: 'json',//从php返回的值以 JSON方式 解释
				data: "artistname=" + $artistname,//发给php的数据
				success: function (data) {
					var $str = "";
					for (i = 0; i < data.length; i++) {
						$str += '<p style="background-color: #00A8FF; line-height: 20px; text-align: center; align: center; color: #fff;">' + data[i]["albumnname"] + '</p>'
					}
					$bb.html($str);
				}
			});
		}else{
			$bb.html("");
		}
	});
	var $i=1
		$('[name="albumnname"]').click(function(){
			$i=$i+1
			$order_id=$(this).prev().val();
			var $aa=$(this).next();
			if($i%2==0){
			$.ajax({ //一个Ajax过程
				type: "post", //以post方式与后台沟通
				url: "{:url('admin/Music/music_list')}", //与此php页面沟通
				dataType: 'json',//从php返回的值以 JSON方式 解释
				data: "albumnid="+$order_id,//发给php的数据
				success: function (data) {
					var $str="";
					for(i=0;i<data.length;i++){
						$str+='<p style="background-color: #00A8FF; line-height: 20px; text-align: center; align: center; color: #fff;">'+data[i]["filename"]+'.mp3</p>'
					}
					$aa.html($str);
				}
			});
		}else{
				$aa.html("");
		}
	});
</script>
