<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>LooperCMS后台管理</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="Bookmark" href="__ROOT__/loop.png" >
	<link rel="Shortcut Icon" href="__ROOT__/loop.png" />
	<!-- bootstrap & fontawesome必须的css -->
	<link rel="stylesheet" href="__PUBLIC__/ace/css/bootstrap.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/datePicker/bootstrap-datepicker.css" />
	<link rel="stylesheet" href="__PUBLIC__/datetimepicker/bootstrap-datetimepicker.css" />
	<link href="__PUBLIC__/ace/css/multiple-select.css" rel="stylesheet" />
	<!-- 此页插件css -->
	<!-- ace的css -->
	<link rel="stylesheet" href="__PUBLIC__/ace/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	<!-- IE版本小于9的ace的css -->
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="__PUBLIC__/ace/css/ace-part2.min.css" class="ace-main-stylesheet" />
	<![endif]-->

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="__PUBLIC__/ace/css/ace-ie.css" />
	<![endif]-->

	<link rel="stylesheet" href="__PUBLIC__/yfcmf/yfcmf.css" />
	<!-- 此页相关css -->

	<!-- ace设置处理的js -->
	<script src="__PUBLIC__/ace/js/ace-extra.js"></script>
	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="__PUBLIC__/others/html5shiv.min.js"></script>
	<script src="__PUBLIC__/others/respond.min.js"></script>
	<![endif]-->
	<!-- 引入基本的js -->
	<script type="text/javascript">
		var admin_ueditor_handle = "{:url('admin/Ueditor/upload')}";
		var admin_ueditor_lang ='zh-cn';
	</script>
	<!--[if !IE]> -->
	<script src="__PUBLIC__/others/jquery.min-2.2.1.js"></script>
	<script src="__PUBLIC__/ace/js/multiple-select.js"></script>
	<!-- <![endif]-->
	<!-- 如果为IE,则引入jq1.12.1 -->
	<!--[if IE]>
	<script src="__PUBLIC__/others/jquery.min-1.12.1.js"></script>
	<script src="__PUBLIC__/ace/js/multiple-select.js"></script>
	<![endif]-->

	<!-- 如果为触屏,则引入jquery.mobile -->
	<script type="text/javascript">
		if('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/others/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	</script>
	<script src="__PUBLIC__/others/bootstrap.min.js"></script>
	<script src="__PUBLIC__/ace/js/multiple-select.js"></script>
	<script src="__PUBLIC__/layer/layer_zh-cn.js"></script>
</head>
{block name="main-content"}
	<div class="page-content">
		<!--主题-->
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm2" name="form0" method="post" action="{:url('admin/Music/albumn_runedit')}"  enctype="multipart/form-data">
					<input type="hidden" name="n_id" id="n_id" value="{$news_list.albumnid}" />
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1">    艺人： </label>
						<input type="text" name="artistname" value="{$news_list.artistname}">
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1" style="float: left;"> 名称：  </label>
						<input type="text" name="news_title" id="news_title"  value="{$news_list.albumnname}"   class="col-xs-10 col-sm-6" required/>
					</div>
					<div class="space-4"></div>
					<!--专辑风格未改数据库之前-->
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 专辑属性：  </label>
						<div class="checkbox">
							{foreach name='diyflag' item='diyflag'}
								<label id="news_flag_{$diyflag.diyflag_name}">
										<input {foreach name='news_flag' item='news_flagv'} {if $news_flagv == $diyflag.diyflag_name}checked{/if}{/foreach} class="ace ace-checkbox-2" name="news_flag[]" type="checkbox" id="news_flag_va{$diyflag.diyflag_name}" value="{$diyflag.diyflag_name}" />
										<span class="lbl"> {$diyflag.diyflag_name}</span>
								</label>
							{/foreach}
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 封面： </label>
							<input type="hidden" name="checkpic" id="checkpic" value="{$news_list.albumncover}" />
							<input type="hidden" name="oldcheckpic" id="oldcheckpic" value="{$news_list.albumncover}" />
							<span class="lbl">&nbsp;&nbsp;<img src="{$news_list.albumncover|get_imgurl}" width="100" height="70" id="img0" ></span>&nbsp;&nbsp;
							<a href="javascript:;" class="file" title="点击选择所要上传的图片">
								<input type="file" name="pic_one" id="file0" multiple="multiple"/>
								修改封面
							</a>
						<script type="text/javascript">
							function imgform(url){
								indexurl=url.lastIndexOf(".");
								ss = url.substr(indexurl+1, 3); // 获取子字符串。
								if(!((ss=="jpg") || (ss=="png"))){
									layer.alert('必须是png、jpg类型的图片', {
										skin: 'layui-layer-lan'
										,closeBtn: 0
										,anim: 4 //动画类型
									});
								}
							}
							$("#file0").change(function(){
								$aa=$(this).val()
								imgform($aa);
							});
						</script>
					</div>
					<link href="__PUBLIC__/ppy/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
					<script src="__PUBLIC__/ppy/js/fileinput.js" type="text/javascript"></script>
					<script src="__PUBLIC__/ppy/js/fileinput_locale_zh.js" type="text/javascript"></script>
					<div class="space-4"></div>
					<div class="clearfix form-actions">
						<button class="btn btn-info" type="submit">
							<i class="ace-icon fa fa-check bigger-110"></i>
							保存
						</button>
					</div>
				</form>
			</div>
		</div>
{/block}